{
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "system-import-transformer"
    ],
    "env": {
        "test": {
            "presets" : ["latest"],
            "plugins": [
                "transform-decorators-legacy",
                "transform-class-properties",
                "system-import-transformer"
            ]
        }
    }
}