[submodule "samples/sample-environments"]
	path = samples/sample-environments
	url = git@github.com:revelryengine/sample-environments.git
[submodule "samples/sample-models"]
	path = samples/sample-models
	url = git@github.com:revelryengine/sample-models.git
