---
services:
    site:
        container_name: revelry-site
        image: denoland/deno:2.5.6
        command: deno task dev:serve --port 8082
        working_dir: /usr/src/app
        volumes:
        - ./:/usr/src/app
        - deno-dir:/deno-dir
        ports:
        - 8082:8082
        restart: unless-stopped
volumes:
  deno-dir:
