---
services:
  site:
    container_name: revelry-site
    image: denoland/deno:2.5.6
    command: deno task dev:serve
    working_dir: /usr/src/app
    environment:
      - WEB_PORT=8080
    volumes:
      - ./:/usr/src/app
      - deno-dir:/deno-dir
    ports:
      - 8082:8080
    restart: unless-stopped
volumes:
  deno-dir:
